<!-- In report_items_on_sale.html -->

{% extends 'auction/base.html' %}

{% block title %}Items On Sale Report{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Items On Sale Report</h1>
    <a href="{% url 'download_items_on_sale_report' %}" class="btn btn-info mb-4">Download PDF</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Starting Price</th>
                <th>Current Bid</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_bids %}
                <tr>
                    <td><a href="{% url 'item_detail' item.item.id %}">{{ item.item.title }}</a></td>
                    <td><a href="{% url 'item_list' item.item.category.id %}">{{ item.item.category.name }}</a></td>
                    <td>${{ item.item.starting_price }}</td>
                    <td>${{ item.highest_bid }}</td>
                    <td>{{ item.item.end_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
